# Introduction à python

Ce premier notebook est une introduction au langage python avant de s'aventurer plus dans le traitement des données avec python.

Définir quatre variables distinctes, un entier, un float, un booléen et une chaîne de caractère et affichez-les dans la console.

In [15]:
entier1=4
print(entier1,type(entier1))
entier1

4 <class 'int'>

4

### allocation de valeurs aux variables

Je vais  créer des variables :

- un float
- deux booléens
- deux chaines de caractères

In [2]:
# allocation de valeurs aux variables
float1=4.5
bool1=True
bool2=False
chaine1="python"
chaine2='python'

In [3]:
print(float1,bool1,bool2,chaine1,chaine2)

4.5 True False python python

Définir une variable comprenant la chaîne ‘Python pour la Science’, utilisez des opérations sur les chaînes pour afficher ‘PYTHON POUR LA DATA SCIENCE’

In [4]:
chaine3="Python pour la Science"

print((chaine3[0:15]+"data"+chaine3[-8:]).upper())

PYTHON POUR LA DATA SCIENCE

Créez une condition qui affiche une valeur différente en fonction du booléen entré.

In [5]:
bool3=False
if bool3:
    print("C'est vrai")
else:
    print("C'est faux")

C'est faux

Créez une boucle for qui parcourt un range de 0 à 5 et qui ajoute 1 à une variable à chaque boucle

In [6]:
x=0
for indice in range(6):
    x+=1
print(x)

6

In [7]:
#une seconde boucle sur une liste de couleurs
for couleur in ["rouge","bleu","vert"]:
    print("Le ciel est", couleur)

Le ciel est rouge
Le ciel est bleu
Le ciel est vert

In [8]:
#une troisième sur une liste de couleur et de jour de la semaine
for couleur, jour in zip(["rouge","bleu","vert"],["lundi","mardi","mercredi"]):
    print("Le" , jour, "le ciel est", couleur)

Le lundi le ciel est rouge
Le mardi le ciel est bleu
Le mercredi le ciel est vert

Créer une suite de commande, qui demande l’entrée d’un nombre, multipliez ce nombre par deux et affichez-le en sortie.

In [9]:
entree=input("Entrez un nombre :")
print(float(entree)*2)

Entrez un nombre :33
66.0

Créez une liste composée de 5 éléments, affichez la longueur de la liste.

Modifiez la dernière valeur de la liste et construisez une seconde liste à partir des 3 dernières valeurs de la liste initiale.

In [11]:
liste1=[2.3,4,"python",[3,4],True]

In [13]:
print(type(liste1),len(liste1))

<class 'list'> 5

In [14]:
type(liste1[4])

bool

In [15]:
#on donne la valeur 22 au 5ème élément
liste1[4]=22

In [16]:
#on crée une sous-liste
liste2=liste1[-3:]
print(liste2)

['python', [3, 4], 22]

In [63]:
#on crée une copie de la liste
liste3=liste1.copy()
liste3[0]="formation"

In [17]:
liste1

[2.3, 4, 'python', [3, 4], 22]

In [18]:
# on ajoute un élément à la liste
liste1.append("az")

In [19]:
liste1

[2.3, 4, 'python', [3, 4], 22, 'az']

### La comprehension list

A partir d’une liste de valeurs en degrés celsius [0, 10, 20, 35], créez une liste en degrés fahrenheits (9/5*temp+32)

In [21]:
deg_celcius=[0, 10, 20, 35]

In [22]:
deg_fahr=[9/5*x +32  for x in deg_celcius]

In [23]:
deg_fahr

[32.0, 50.0, 68.0, 95.0]

In [24]:
listinit=[2,5,8,45,68,88]

In [25]:
%%timeit
res = [x**2 for x in listinit if (x % 2 == 0)]

1.4 µs ± 18.9 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [26]:
%%timeit
res=[]
for val in listinit:
    if val%2==0:
        res.append(val**2)

1.45 µs ± 13.7 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

Créez la chaîne ‘Vive la data science’, transformez-la en une liste de quatre éléments.  Ajoutez les valeurs ‘et’ et ‘Python’ à cette liste.  Affichez la chaîne de caractère obtenue.

In [37]:
chaine4='Vive la data science'
liste3=chaine4.split()
liste3.extend(["et" ,"python"])
print(" ".join(liste3))

Vive la data science et python

Créez la chaîne ‘Ce client est …, il a … ans d’ancienneté et a dépensé … euros’. On utilisera les %... dans la chaîne que l’on pourra remplacer par différentes valeurs

In [39]:
'Ce client est %s, il a %i ans d’ancienneté et a dépensé %.2f euros' %("Emmanuel",15,200.50)

'Ce client est Emmanuel, il a 15 ans d’ancienneté et a dépensé 200.50 euros'

Construire un dictionnaire composé de listes de mots et accédez à un élément d’une des listes du dictionnaire.  Affichez le mot en majuscule.

In [40]:
dico={"Ville":["Paris","Londres","NY"],"Pays":["France","Italie"]}

In [41]:
dico['Ville'][0]

'Paris'

In [42]:
dico.keys()

dict_keys(['Ville', 'Pays'])

In [43]:
for val in dico.keys():
    print("Paris" in dico[val])

True
False

### Fonctions

In [44]:
def ma_fonction():
    return "Rien"

In [45]:
print(ma_fonction())

Rien

Créez une fonction lambda qui met en majuscule et qui sépare les mots d’une chaîne de caractère

In [46]:
f=lambda x: x.upper().split()

In [47]:
f("bonjour tout le monde")

['BONJOUR', 'TOUT', 'LE', 'MONDE']

In [48]:
g=lambda x,y,z: (x+y+z).upper()

In [49]:
g("aez","ree","ttt")

'AEZREETTT'

Construire une fonction prenant en entrée deux listes et qui retourne la moyenne de tous les éléments des deux listes (une seule valeur)

In [50]:
def ma_moyenne1(list1,list2):
    """Cette fonction calcule la moyenne de deux listes
    Paramètres :
    list1 est une liste
    list2 est une list
    """
    try:
        moy=0.0
        for val in list1+list2:
            moy+=val
        return moy/len(list1+list2)
    except:
        print("Problème")

In [51]:
def ma_moyenne2(list1,list2):
    return sum(list1+list2)/len(list1+list2)

In [52]:
ma_moyenne3=lambda list1,list2:sum(list1+list2)/len(list1+list2)

In [53]:
list1=[1,3,6,7,8]
list2=[1,4,6,8,8]

In [54]:
print(ma_moyenne1(list1,list2))
print(ma_moyenne2(list1,list2))
print(ma_moyenne3(list1,list2))

5.2
5.2
5.2

In [55]:
%timeit ma_moyenne1(list1,list2)

673 ns ± 13 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [56]:
%timeit ma_moyenne2(list1,list2)

398 ns ± 3.36 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [57]:
%timeit ma_moyenne3(list1,list2)

399 ns ± 6.65 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

## Bibliothèques

In [58]:
import numpy

In [59]:
numpy.array([1,2])

array([1, 2])

In [60]:
import pandas as pd

In [61]:
pd.Series(numpy.random.randn(10))

0    0.567438
1   -2.180871
2   -1.230309
3    0.992244
4    0.248659
5   -1.265461
6   -0.502063
7    0.889799
8   -0.247879
9   -0.715608
dtype: float64

### Les classes

Définissez une classe CompteBancaire(), qui permette d'instancier des objets tels que compte1, compte2, etc.

Le constructeur de cette classe initialisera deux attributs d'instance nom et solde, avec les valeurs par défaut ‘A' et 0.

Trois autres méthodes sont définies :

- depot(somme) permettra d'ajouter une certaine somme au solde

- retrait(somme) permettra de retirer une certaine somme du solde

- affiche() permettra d'afficher le solde du compte et un message d’alerte en cas de solde négatif.

In [63]:
class CompteBancaire():
    """Cette classe permet de créer un objet compte bancaire"""
    def __init__(self, nom="A", solde=0):
        self.nom=nom
        self.solde=solde
    
    def depot(self,somme):
        """cette méthode permet de deposer une somme sur le compte"""
        self.solde+=somme
    
    def retrait(self,somme):
        """cette méthode permet de retirer une somme sur le compte"""
        self.solde-=somme

In [64]:
compte_32=CompteBancaire("Emmanuel",50)

In [65]:
compte_32.depot(50)

In [66]:
compte_32.solde

100

### Gestion d'exceptions

Créer une gestion d’exception pour une fonction prenant en entrée deux input() puis divisez-les, utiliser les différentes erreurs d’exceptions

In [67]:
x=0
try:
    print(1/x) 
except:
    print("problème")

problème